* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#container {
  margin: 0 auto;
  max-width: 1624px;
  width: 100%;
  padding: 0px 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}
