
/* Padronização dos Botões */
.btn{
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  font-size: 20px;
  cursor: pointer;
  gap: 16px;
}

/* Botão Menu Começo */
.button-menu {
  background: var(--verde-gradiente);
  padding: 16px 24px;
  color: var(--roxo-100-);
}

/* Botão Primário Começo */
.button-primario {
  background: var(--verde-gradiente);
  margin-top: 24px;
  padding: 8px 8px 8px 16px;
  color: var(--roxo-100-);
}

.button-primario::after{
  content: '';
  width: 48px;
  height: 48px;
  background-image: url("../../assets/seta-roxa.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 16px 0px rgba(75, 22, 88, 0.21);
  border-radius: 8px;
  margin: auto 0;
}

/* Botão Secundário Começo */
.button-secundario {
  height: fit-content;
  margin-top: 24px;
  text-transform: uppercase;
  background: var(--branco-gradiente-1);
  padding: 8px 8px 8px 16px;
  color: var(--preto-100);
  cursor: pointer;
}

.button-secundario::after{
  content: '';
  width: 48px;
  height: 48px;
  background-image: url("../../assets/seta-branca.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto 0;
}

/* Botão Formulário Começo */
.btn-form{
  margin-top: 32px;
  padding: 16px;
  background: var(--roxo-gradiente);
  color:  var(--branco-100);
}

