

.card{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    max-width: 390px;
    min-width: 286px;
    flex: 1;
    padding: 16px;
    background: var(--branco-200);
    border-radius: 16px;
    cursor: pointer;
    transition: all .5s ease;
    box-sizing: border-box;
}

.card p{
    margin: 8px 0px;
}

.card img{
    width: 100%;
    margin-top: auto;
}

.card:hover {
  transform: scale(1.05) !important;
}

@media screen and (max-width: 412px) {
    .card{
        max-width: calc(100% - 32px);
    }
}

/*
<div class="card">
    <h4>LIMPEZA</h4>
    <h3>Pesada / Pós obra</h3>
    <p href="#">Um serviço completo e detalhado que alcança cantos, frestas e áreas que não são limpas com frequência. Recomendado periodicamente.</p>
    <img src="/media/card-image01.png" alt="">
</div>
*/