
.box-img-hero{
  position: relative;
}


.positon-span1{
  z-index: 1;
}

.span-img1 {
  position: absolute;
  display: inline-flex;
  animation: boxAnimation 5s ease-in-out infinite;
  width: 100%;
  max-width: 260px;
  left: 140px;
  bottom: 20px;
}

.span-img2 {
  position: absolute;
  display: inline-flex;
  animation: boxAnimation 5s ease-in-out infinite;
  width: 100%;
  max-width: 260px;
  right: 90px;
  top: 100px;
}

@keyframes boxAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
}

/*
<div class="box-img-hero ">
    <div class="teste-img">
        <span >
            <img src="./assets/trofeu.svg" alt="">
            <p>Seu melhor serviço  de serviços de limpeza</p>
        </span>
    </div>
    <img  class="img-hero" src="./media/IMG Hero.png" alt="">
</div>
*/
